<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Titcket Tracker</title>

    {% block stylesheets %}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    
    <!-- jqGrid CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    {% endblock %}

    <style>
        .ui-jqgrid, 
        .ui-jqgrid-view,
        .ui-jqgrid>.ui-jqgrid-view>.ui-jqgrid-hdiv,
        .ui-jqgrid-hbox,
        .ui-jqgrid .ui-jqgrid-htable,
        .ui-jqgrid .ui-jqgrid-bdiv,
        .ui-jqgrid .ui-jqgrid-btable,
        .ui-jqgrid-labels {
                        min-width: 100%;
        }
        .ui-widget-content {
            border-color: #e9ecef;
            color: #6c757d;
        }

        .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr, 
        .ui-th-ltr,
        .ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div {
            background-color: #021a3c !important;
            color:#fff !important;
        }

        .ui-state-default, 
        .ui-widget-content .ui-state-default, 
        .ui-widget-header .ui-state-default {
            border: 1px solid #fff ;
            background: #e9ecef !important;
        }

        .ui-state-hover, 
        .ui-widget-content .ui-state-hover, 
        .ui-widget-header .ui-state-hover, 
        .ui-state-focus, 
        .ui-widget-content .ui-state-focus, 
        .ui-widget-header .ui-state-focus {
            background: #e9ecef !important;
            border-color: #fff !important ;
        }
    </style>
    
</head>

<body class="wrapper">
    <!-- Sidebar  -->
    {% include 'sidebar.html.twig' %}
        
        <!-- Page Content  -->
        <div id="main">
                
            <!-- Top Menu  -->
            {% include 'topmenu.html.twig' %}           

            {% block content %}{% endblock %}
        </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- jqGrid JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            
            $(function () {
                $("#grid").jqGrid({
                    colModel: [
                        { name: "firstName" },
                        { name: "lastName" },
                        { name: "role" },
                        { name: "options" }
                    ],
                    data: [
                        { id: 10, firstName: "Angela", lastName: "Merkel" },
                        { id: 20, firstName: "Vladimir", lastName: "Putin" },
                        { id: 30, firstName: "David", lastName: "Cameron" },
                        { id: 40, firstName: "Barack", lastName: "Obama" },
                        { id: 50, firstName: "François", lastName: "Hollande" }
                    ]
                });
            });
        });
    </script>
</body>
</html>