<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Ticket Tracker</h3>
        <strong>TT</strong>
    </div>

    
    <ul class="list-unstyled components">
        <li>
            <a href="#">
                <i class="fas fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-list-alt"></i>
                <span>Home</span>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li class="menu-subtitle">
            Administartion
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-users"></i>
                <span>Users</span>
            </a>
        </li>
    </ul>
</nav>